.wd{
    width: 205px;
    
}
.wd1{
    width: 210px;
}
.wd2{
    width: 213px;
}
.color{
    background-color: pink;   
}
.leng{
    height: 90vh;
    border-radius: 20px;
}
.colo{
    background-color:cyan;
}