.bor1{
    border-top: 7px solid red;
    border-radius: 30px;
}
.bor2{
    border-top: 7px solid blue;
    border-radius: 30px;
}
.bor3{
    border-top: 7px solid green;
    border-radius: 30px;
}
.bor4{
    border-top: 7px solid yellow;
    border-radius: 30px;
}